GEOVEO_ENV=dev
GEOVEO_LOG_LEVEL=INFO
GEOVEO_OUTPUT_ROOT=./runs

ROUTING_PROVIDER=osrm_stub
IMAGERY_PROVIDER=mapillary_stub
DEPTH_PROVIDER=zoedepth_stub
DEFAULT_VIDEO_BACKEND=cogvideox_stub

MAPILLARY_ACCESS_TOKEN=
GOOGLE_MAPS_API_KEY=
VEO_API_KEY=
VEO_BASE_URL=
COGVIDEOX_BASE_URL=
COGVIDEOX_API_KEY=
